
body{
  width: 100%;
}
.App-link {
  color: inherit;
}
.logo:hover{cursor: pointer;}
.AddBtn:hover, .LogBtn:hover, .FaceBtn:hover, #NoticeBtn:hover{
  cursor: pointer;
  color: aliceblue;
}
#TopBtn{
  width: 2.5rem;
  height: 2.5rem;
  color: #EB1D36;
}
#TopBtn:hover{cursor: pointer;}
